.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rbga(0, 0, 0, 0.1);
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    color: #333;
}

.card-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007BFF;
}